<aside class="player-audio row justify-content-between">


  <div class="player-music-infos col col-3 text-left d-flex flex-column align-items-start justify-content-center ">
    <p class="mb-1 title">-</p>
    <button type="button" class="btn btn-sm btn-dark buy-btn justify-content-between">
      <i class="material-icons mb-0">add_shopping_cart</i> 
      <span class="price pr-2">-</span> €
    </button>
  </div>


  <div class="player-reading-container col">
    
    <div class="player-nav-btns d-flex justify-content-center align-items-center">
      <i class="h2 material-icons player-btn-prev">skip_previous</i>
      <i class="h1 material-icons player-btn-toggle-play">play_circle_outline</i>
      <i class="h2 material-icons player-btn-next">skip_next</i>
    </div>

    <div class="player-duration-container d-flex justify-content-between align-items-center mt-n2">
      <span class="player-progress-time-now">--:--</span>
      <div class="player-progress-bar mx-3">
        <span class="player-progress-bar-current"></span>
      </div>
      <span class="player-progress-total">--:--</span>
    </div>

  </div>

  <div class="col col-3 d-flex align-items-center justify-content-end">
    <button class="basket-btn btn btn-dark d-flex justify-content-between">
      <i class="material-icons pr-2 ">shopping_cart</i> 
      Mon Panier
    </button>
  </div>

</aside>