audios-list {
  .audios-list-item {
    .play, .add-to-cart {
      &:hover {
        cursor: pointer;
        color: $primary;
      }
    }
    .add-to-cart {
      color: $primary;
      &:hover {
        background: $primary;
      }
    }
    .remove-from-cart {
      color: $red;
      &:hover {
        background: $red;      
      }
    }
    .cover-container {
      width: 20px;
      height: 100px;
      background: $purple-dark;
      overflow: hidden;
      margin-right: 20px;
      transition: all 0.4s ease-in-out;
      img {
        max-width:100px;
        max-height:100px;
      }
    }

    &.played .cover-container,
    .cover-container:hover {
      width: 100px;
    }

    .add-to-cart,
    .remove-from-cart {
      .audio-price {
        color: $white;
      }
      &:hover i {
        color: $black;
      }
    }
  }

  &:not(.removable) .remove-from-cart,
  &.removable .add-to-cart {
    display:none;
  }
  
  
}