/* Color Theme Swatches in Hex */
$purple-dark: #6805F2;
$purple: #BF05F2;
$blue-dark: #21038C;
$blue: #2405F2;
$black: #0D0D0D;
$white: #fefefe;

$red: #D9042B;
$green: #04D924;
$yellow: #F2B705;

$primary: $purple-dark;


.text-primary {
  color: $primary!important;
}
.text-white {
  color: $white!important;
}