<div class="basket">

  <i class="material-icons exit">close</i>

  <h2>Mon panier</h2>

  <audios-list class="removable"></audios-list>

  <div class="my-5 d-flex flex-column align-items-end">
    <h3 class="total-title"><em>Total <span class="small">(TVA inclue)</span></em></h3>
    <p class="h4">27 €</p>
    <button class="finalize-btn mt-5 btn btn-primary d-flex align-items-center">
      Finaliser la commande 
      <i class="material-icons pl-3">exit_to_app</i>
    </button>
  </div>


</div>