<div class="basket">

  <i class="material-icons exit">close</i>

  <h2>Mon panier</h2>

  <audios-list class="removable"></audios-list>

  <div class="my-5 d-flex flex-column align-items-end">
    
    <h3 class="total-title"><em>Total <span class="small">(TVA inclue)</span></em></h3>
    <p class="h4 total-price">27 €</p>

    <div class="d-flex mt-5 justify-content-between w-100">
      <button class="clear-basket-btn btn btn-outline-danger d-flex align-items-center"><i class="material-icons pr-3">delete</i> Vider le panier</button>
      <button class="finalize-btn btn btn-primary d-flex align-items-center">
        Finaliser la commande 
        <i class="material-icons pl-3">exit_to_app</i>
      </button>
    </div>
  </div>


</div>