<div class="audios-list-item row justify-content-between align-items-center border-bottom border-dark py-3">
  <div class="col col-auto d-flex align-items-center">
    <div class="cover-container">
      <img src="http://localhost:8081/public/logo.png" alt="music cover">
    </div>
    <i class="material-icons h1 mb-0 play">play_circle_filled</i>
  </div>
  <div class="col">
    <p class="music-title mb-0 audio-title font-weight-bold">Misique title</p>
    <p class="mb-0 small audio-duration">00:00</p>
  </div>
  <div class="col col-auto text-center">
    <button class="btn add-to-cart">
      <i class="material-icons h3 mb-0">add_shopping_cart</i>
      <p class="mb-0 small audio-price">10,00€</p>
    </button>
    <button class="btn remove-from-cart">
      <i class="material-icons h3 mb-0">remove_shopping_cart</i>
      <p class="mb-0 small audio-price">10,00€</p>
    </button>
  </div>
</div>